
*{
     margin: 0; 
     padding: 0; 
     box-sizing: border-box; 
     font-family: Arial, Helvetica, sans-serif;
    }

body{ 
    background: #292a2c;    
    padding: 40px; 
    }


    .card img{
    width: 100%;
    height: 180px;             /* FIX HEIGHT */
    object-fit: cover;
    border-radius: 18px 18px 0 0;
}

.card > div:nth-child(2){
    padding: 20px;
}



.card{
    width: 320px;              /* FIX WIDTH */
    background: #f7f8f8;
    border-radius: 18px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.25);
    text-align: center;
    overflow: hidden;          /* IMPORTANT */
}



img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0 0; 
    }


h4{
    color: #2ecc71;
    font-size: 14px;
    margin-bottom: 8px;
}

/* h1{
    text-align: center;
    color: rgb(15, 15, 15);
    margin-bottom: 20px;
    } */

h1{
    font-size: 22px;
    margin-bottom: 12px;
}

    
.p{
    color: #777;
    font-size: 14px;
    line-height: 1.5;
}


.info{
    display: flex;                 
    background: #2ecc71;          
    color: white;
}

.info span{
    flex: 1;                      
    padding: 15px 0;
    text-align: center;
    font-size: 13px;
    border-right: 1px solid rgba(255,255,255,0.4);
}

.info span:last-child{
    border-right: none;
}


