*{
     margin: 0; 
     padding: 0; 
     box-sizing: border-box; 
     font-family: Arial, Helvetica, sans-serif; 
    }
     

.menu-section{
    align-items: center;
}

.restaurant-cards{ 
    display: flex; 
    gap: 20px; 
    overflow-x: auto;
} 


body{ 
    background-color: aquamarine; 
    padding: 10px; 
} 


h2{ 
   text-align: center; 
   margin-bottom: 20px; 
} 


.card-container{
    display: flex; 
    gap: 20px; 
} 

.restaurant-cards { 
    display: flex; 
    gap: 16px; 
    overflow-x: auto; 
}


.card{
    min-width: 260px;
    gap: 40px; 
    background: #fff; 
    border-radius: 14px; 
    padding: 12px; 
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    align-items: center; 
} 


.card-img{ 
    width: 120px;
    height: 120px; 
    position: relative; 
    flex-shrink: 0; 
    align-items: center;
} 


.card-img img{ 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 12px; 
    
} 


.order-now{ 
    margin-top: 8px; 
    padding: 7px; 
    background-color: #ff6f61; 
    color: white; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
} 


.offer{ 
    position: absolute; 
    bottom: 10px; 
    left: 10px; 
    background-color:rgba(0, 0, 0, 0.7); 
    color: #fff; padding: 5px 10px; 
    border-radius: 8px; 
    font-size: 14px; 
} 


.info{ 
    display: flex; 
    font-size: 14px; 
    margin-bottom: 8px; 
    gap: 10px; 
    margin-top: 4px; 
} 


.rating{ 
    background-color: #22c552; 
    color: white; 
    padding: 2px 6px;
    border-radius: 4px; 
} 


p{
 color: #666; 
 font-size: 14px; 
} 


.menu-section{ 
    .box-sizing: border-box; 
    padding: 20px; 
}

.offer{
    font-size: 10px;
    padding: 5px 10px;
}

p{
    font-size: 12px;
}
